<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="33"
    android:versionName="1.0.33.20240513"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    coreApp="true"
    package="com.can.activity"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">
    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="29"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <application
        android:name="com.can.platforms.CanApp"
        android:persistent="true"
        android:extractNativeLibs="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:name="com.can.ui.CanActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="false"/>
        <activity
            android:theme="@style/MainTheme"
            android:label="@string/app_name"
            android:name="com.can.ui.CarInfo"
            android:excludeFromRecents="false"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/MainTheme"
            android:label="@string/can_aux"
            android:name="com.can.ui.CarAux"
            android:excludeFromRecents="false"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/MainTheme"
            android:label="@string/can_aux"
            android:name="com.can.ui.CarMedia"
            android:excludeFromRecents="false"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/MainTheme"
            android:name="com.can.ui.TouchActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="true"/>
        <service android:name="com.can.services.CanService">
            <intent-filter>
                <action android:name="yecon.intent.CanService"/>
            </intent-filter>
        </service>
        <service android:name="com.can.ui.CanPopWind">
            <intent-filter>
                <action android:name="yecon.intent.CanUIService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
